@import url(cards.css);
@import url(cards-grid.css);
@import url(cards-slider.css);
@import url(collection.css);
@import url(header.css);
@import url(main-banner.css);
@import url(inner-collector-banner.css);
@import url(planet-banner.css);
@import url(question-banner.css);
@import url(last-banner.css);
@import url(footer.css);
@import url(404.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #141416;
    overflow-x: hidden !important;
    background-color: #F9F9F9;
}

main {
    overflow: hidden;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Public Sans', sans-serif; */